# Python
__pycache__/
*.pyc
.env
.venv/
.idea/
.vscode/
*.egg-info/
dist/
build/
.coverage

# Home Assistant
*.log
*.db
*.db-shm
*.db-wal
secrets.yaml
.cloud
.storage/
home-assistant.log*
deps/
.HA_VERSION
blueprints/
configuration.yaml
automations.yaml
scenes.yaml
scripts.yaml

# optional
custom_components/__pycache__/
venv/
